.body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blue;
    color: white;
}
.head{
    margin: 50px;
    color: aqua;
    background-color: bisque;
    padding-left: 40;
    
}